{% extends 'mailer/base.html.twig' %}

{% block body %}

    Здравствуйте <b>{{ user.username }}</b>,

    <br><br>

    Чтобы восстановить пароль, перейдите по ссылке нажав на кнопку ниже и введите свой новый пароль

    <br><br>

    <table>
        <tbody>
            <tr>
                <td class="btn btn-blue">
                    <a href="http://localhost:8000/{{ token }}">Восстановить пароль</a>
                </td>
            </tr>
        </tbody>
    </table>

{% endblock %}
